<%= tag.div id: dom_id(chirp), class: "border-b p-4 w-full" do %>
    <div class="grid grid-cols-[max-content_1fr] grid-rows-4 auto-cols-auto">
        <%= link_to user_path(chirp.user), class: "flex items-center row-span-2" do %>
            <%= image_tag chirp.user.profile_picture, class: "size-10 border rounded-full drop-shadow-sm" %>
        <% end %>
        <div class="flex items-center justify-between">
            <%= link_to user_path(chirp.user) do %>
                <p class=" text-sm font-semibold"><%= chirp.user.username %></p>
            <% end %>
            <div class="flex gap-2 items-center">
                <p class="text-sm text-gray-500"><%= time_ago_in_words chirp.created_at %></p>
                <% if current_user == chirp.user %>
                    <%= button_to user_chirp_path(chirp.user, chirp), class: "group", method: :delete , form: { data: { turbo_confirm: "Are you sure?" } } do %>
                        <%= icon('fa-solid', 'xmark', class: "text-sm p-2 group-hover:bg-red-500 rounded-full transition ease-in-out delay-75 duration-150") %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="flex flex-col gap-2 row-span-2">
            <%= link_to user_chirp_path(user_id: chirp.user.id, id: chirp.id) do %>
                <p class="text-sm"><%= chirp.body %></p>
            <% end %>
            <% if user_signed_in? %>
                <div class="flex items-center">
                    <%= render partial: "chirps/like_button", locals: { chirp: chirp } %>
                    <%= button_to "comment", class: "group" do %>
                        <%= icon('fa-regular', 'comment', class: "text-xl p-2 group-hover:bg-gray-100 rounded-full transition ease-in-out delay-75 duration-150") %>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="row-span-2 pr-14"></div>
        <div class="flex items-center gap-2">
            <%= link_to user_chirp_path(user_id: chirp.user.id, id: chirp.id), class: "text-sm text-gray-400" do %>
                <p class="text-sm text-gray-400">comments</p>
            <% end %>
            <p class="text-sm text-gray-400">.</p>
            <%= render partial: "chirps/likes_counter", locals: { chirp: chirp } %>
        </div>
    </div>
<% end %>