<!DOCTYPE html>
<html>
  <head>
    <title>FreeTheBird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "logo" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 z-10 w-full bg-white/90 backdrop-blur-sm">
      <%= render "layouts/navbar" %>
    </header>
    <main class="container flex justify-center mx-auto mt-24 px-5">
      <%= yield %>
    </main>
  </body>
</html>
